DB_HOST=localhost
DB_USER=lama
DB_PASS=lama
DB_NAME=lama
DB_VENDOR=mariadb
KEYCLOAK_URL=http://localhost:8180
KEYCLOAK_REALM=lama
KEYCLOAK_CLIENTID=lama
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASS=admin
KEYCLOAK_ADMIN_CLIENTID=admin-cli
LAMA_APP_URL=http://localhost:9000
# SMTP_HOST=
# SMTP_PORT=587
# SMTP_USER=
# SMTP_PASS=
# SMTP_FROM=
# SMTP_SECURE=false
# MAILGUN_API_USER=api
# MAILGUN_API_KEY=
# PRETIX_API_URL=
# PRETIX_API_TOKEN=
# PRETIX_ORGANIZER=
# PRETIX_EVENT=
